---
version: 2
jobs:
  build:
    docker:
      - image: googleapis/curl:latest
    steps:
      - run:
          name: Add command to be able to trigger jobs.
          command: |
            touch trigger_job.sh && chmod a+x trigger_job.sh
            cat <<'EOF' >> trigger_job.sh
            #!/bin/sh
            # More information about this script: http://bit.ly/2pn9lX8
            job_name=$1
            curl -u ${CIRCLE_API_TOKEN}: \
              -d build_parameters[CIRCLE_JOB]=${job_name} \
              -d revision=$CIRCLE_SHA1 \
              https://circleci.com/api/v1.1/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/tree/$CIRCLE_BRANCH
            EOF
      - run:
          name: 'Trigger jobs: Python Unit Tests'
          command: |
            ./trigger_job.sh python27
            ./trigger_job.sh python34
            ./trigger_job.sh python35
            ./trigger_job.sh python36
    working_directory: /var/code/googleapis/

  python27:
    docker:
      - image: python:2.7.13
    steps:
      - checkout
      - run:
          name: Install nox.
          command: pip install nox-automation
      - run:
          name: Run GAPIC unit tests.
          command: nox -e "unit_tests(python_version='2.7')"
    working_directory: /var/code/googleapis/

  python34:
    docker:
      - image: python:3.4.6
    steps:
      - checkout
      - run:
          name: Install nox.
          command: pip install nox-automation
      - run:
          name: Run GAPIC unit tests.
          command: nox -e "unit_tests(python_version='3.4')"
    working_directory: /var/code/googleapis/

  python35:
    docker:
      - image: python:3.5.3
    steps:
      - checkout
      - run:
          name: Install nox.
          command: pip install nox-automation
      - run:
          name: Run GAPIC unit tests.
          command: nox -e "unit_tests(python_version='3.5')"
    working_directory: /var/code/googleapis/

  python36:
    docker:
      - image: python:3.6.1
    steps:
      - checkout
      - run:
          name: Install nox.
          command: pip install nox-automation
      - run:
          name: Run GAPIC unit tests.
          command: nox -e "unit_tests(python_version='3.6')"
    working_directory: /var/code/googleapis/
