---
version: 2.0
jobs:
  php55:
    docker:
      - image: googleapis/php:5.5
    steps:
      - checkout
      - run:
          name: Install PHP library
          command: composer install
      - run:
          name: Run GAPIC unit tests in PHP 5.5
          command: ./vendor/bin/phpunit
      - run:
          name: Run phpcs format check in PHP 5.5
          command: ./vendor/bin/phpcs --standard=./phpcs-ruleset.xml ./generated/php
    working_directory: /var/code/googleapis/

  php56:
    docker:
      - image: googleapis/php:5
    steps:
      - checkout
      - run:
          name: Install PHP library
          command: composer install
      - run:
          name: Run GAPIC unit tests in PHP 5.6
          command: ./vendor/bin/phpunit
      - run:
          name: Run phpcs format check in PHP 5.6
          command: ./vendor/bin/phpcs --standard=./phpcs-ruleset.xml ./generated/php
    working_directory: /var/code/googleapis/

  php70:
    docker:
      - image: googleapis/php:7.0
    steps:
      - checkout
      - run:
          name: Install PHP library
          command: composer install
      - run:
          name: Run GAPIC unit tests in PHP 7.0
          command: ./vendor/bin/phpunit
      - run:
          name: Run phpcs format check in PHP 7.0
          command: ./vendor/bin/phpcs --standard=./phpcs-ruleset.xml ./generated/php
    working_directory: /var/code/googleapis/

  php71:
    docker:
      - image: googleapis/php:7.1
    steps:
      - checkout
      - run:
          name: Install PHP library
          command: composer install
      - run:
          name: Run GAPIC unit tests in PHP 7.1
          command: ./vendor/bin/phpunit
      - run:
          name: Run phpcs format check in PHP 7.1
          command: ./vendor/bin/phpcs --standard=./phpcs-ruleset.xml ./generated/php
    working_directory: /var/code/googleapis/

  php72:
    docker:
      - image: googleapis/php:7.2
    steps:
      - checkout
      - run:
          name: Install PHP library
          command: composer install
      - run:
          name: Run GAPIC unit tests in PHP 7.2
          command: ./vendor/bin/phpunit
      - run:
          name: Run phpcs format check in PHP 7.2
          command: ./vendor/bin/phpcs --standard=./phpcs-ruleset.xml ./generated/php
    working_directory: /var/code/googleapis/

workflows:
  version: 2
  tests:
    jobs:
    - php55:
        filters:
          branches:
            only: autobuild-php
    - php56:
        filters:
          branches:
            only: autobuild-php
    - php70:
        filters:
          branches:
            only: autobuild-php
    - php71:
        filters:
          branches:
            only: autobuild-php
    - php72:
        filters:
          branches:
            only: autobuild-php
experimental:
  notify:
    branches:
      ignore:
        - /autobuild.*/
